<a routerLink="/" class="home-btn"> Home</a><div class="cart-page" *ngIf="cartItems.length > 0; else emptyCart">
  <div class="cart-item" *ngFor="let item of cartItems">
               <img [src]="`assets/${item.productName}.jpg`" class="card-img-top" [alt]="item.productName">

    <div class="cart-item-details">
      <h4>{{ item.productName }}</h4>
      <p>Price: ₹{{ item.price }}</p>

      <div class="quantity-control">
        <button (click)="decreaseQuantity(item)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item)">+</button>
      </div>

      <p>Subtotal: ₹{{ item.price * item.quantity }}</p>
    </div>

    <button class="remove-btn" (click)="removeFromCart(item)">Remove</button>
  </div>

  <div class="cart-summary">
    <h3>Total: ₹{{ totalAmount }}</h3>
    <button class="btn btn-success">Proceed to Checkout</button>
  </div>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <div class="empty-icon">🛒</div>
    <h2>Your Cart is Empty</h2>
    <p>Looks like you haven’t added anything yet.</p>
    <a routerLink="/" class="shop-btn">Continue Shopping</a>
  </div>
</ng-template>
