/* Wrapper */
.carousel-wrapper {
  /* max-width: 60vw; */
  margin: 30px auto;
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); */
}

/* Image styling */
.carousel-img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  transition: transform 0.6s ease;
}

.carousel-item:hover .carousel-img {
  transform: scale(1.05);
}

/* Glass caption */
.modern-caption {
  background: rgba(0, 0, 0, 0.45);
  padding: 15px 30px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

/* Fade animation */
.carousel-fade .carousel-item {
  transition: opacity 0.8s ease-in-out;
}

/* Modern indicators */
.modern-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.6;
}

.modern-indicators .active {
  opacity: 1;
  transform: scale(1.2);
}

/* Modern arrows */
.modern-arrow .carousel-control-prev-icon,
.modern-arrow .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 20px;
  background-size: 60%;
  filter: invert(1);
  transition: 0.3s ease;
}

.modern-arrow:hover .carousel-control-prev-icon,
.modern-arrow:hover .carousel-control-next-icon {
  background-color: black;
  transform: scale(1.1);
}



.categories-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 18px;
}

.categories p{
    font-family: sans-serif;
    font-weight: bold;
    
}